body {
	text-align: center;
	/* background-color: #283149; */
}

h1 {
	font-size: 5rem;
	color: #DBEDF3;
	font-family: "Arvo", cursive;
	text-shadow: 3px 0 #DA0463;
	display: inline-block;
	vertical-align: super;
	margin-top: 3%;
}

#buttons {
	display: inline-block;
	margin-left: 50px;
}

#sample {
	height: 45px;
	margin-bottom: 10px;
}

#help {
	width: 40px;
	height: 40px;
}

#rec,
#play {
	width: 70px;
	height: 50px;
}





.spacer {
	width: 90px;
	height: 0;
}

.half-spacer {
	width: 45px;
	height: 0;
}


.key {
	/* display: inline-block; */
	display: flex;
	flex-direction:	column-reverse;
	width: 90px;
	/* background-image: url("./images/t2.jpg"); */
	background-repeat: round;
	border-style: none;
	border-radius: 6px;
	outline: none;
	filter: brightness(0.45) saturate(5);
	box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.2);
	margin-left: 4px;
	margin-right: 4px;
	background-color: lightgray;
}


.key > p {
	font-size: 2.5rem;
	margin-bottom: 20%;
}

.hidden {
	display: none;
}


.pressed {
	box-shadow: 0 3px 4px 0 #DBEDF3;
	opacity: 0.5;
	transform: scale(1.1);
	transition: all .2s ease-in-out;
}





#wrapper {
	border: 3px solid green;
	/* position: relative; */
	/* display: flex; */
}

#naturals {
	display: flex;
	justify-content: center;
	height: 50vh;
	margin-top: 20VH;
	border: solid 1px red;
}

#sharps {
	display: flex;
	justify-content: center;
	height: 50vh;
	margin-top: 20VH;
	border: solid 1px blue;
	pointer-events: none;
	/* position: relative; */
	bottom: 0;
	left: 0;
}

#sharps > div {
	pointer-events: auto;
}



#KeyQ {
	height: 100%;
}

#KeyW {
	height: 95%;
}

#KeyE {
	height: 90%;
}

#KeyR {
	height: 85%;
}

#KeyT {
	height: 80%;
}

#KeyY {
	height: 75%;
}

#KeyU {
	height: 70%;
}

#KeyI {
	height: 65%;
}

#KeyO {
	height: 60%;
}

#KeyP {
	height: 55%;
}



#Digit2 {
	height: 97.5%;
}

#Digit3 {
	height: 92.5%;
}

#Digit5 {
	height: 82.5%;
}

#Digit6 {
	height: 77.5%;
}

#Digit8 {
	height: 67.5%;
}

#Digit9 {
	height: 62.5%;
}

#Digit0 {
	height: 57.5%;
}
