
html {
	box-sizing: border-box;
}

body {
	/* background-color: #daebec; */
	/* background-color : #5ca8af; */
	background-color: #e7f2f3;
	text-align: center;
	overflow-y: hidden;		/* Hidden overflow to prevent small swipe possible when overlay is visible on mobile */
}

p,
button {
	user-select: none;
	/* -moz-user-select: none; */
	/* -webkit-user-select: none;  */
}

#mobile-controls {
	display: none;
}

/********** header and control buttons *********/

header {
	margin-top: 30px;
	align-items: center;
	display: flex;
	justify-content: center;
}

h1 {
	color: #39a5c9;
	/* color: #1d5466; */
	font-family: 'Arial', sans-serif;
	font-size: 5rem;
	margin: 0 10% 0 0;
	text-shadow: 1px 1px 4px #afafaf;
}

button {
	border: 2px solid;
	background-color: transparent;
	/* background-color: #e6e6e6; */
	font-size: 1.1rem;
	margin: 3px;
	outline: transparent;
	padding: 6px 12px;
}

button:disabled {
	color: lightgrey;
	border-color: lightgrey;
}

button:active {
	filter: saturate(.8);
	transform: scale(.9);
}

.btns-container {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.sample {
	border-color: deepskyblue;
	color: #2c2c2c;
	flex-grow: 1;
}

.sample:hover:enabled {
	background-color: deepskyblue;
}

.help {
	border-color: gold;
	color: #2c2c2c;
}

.help:hover,
.help-clicked {
    background-color: gold;
}

.rec {
	border-color: #f63d3d;
	color: #2c2c2c;
	flex-grow: 1;
}

.rec:hover:enabled,
.rec-clicked  {
    background-color: #f63d3d;
}

.play {
	border-color: #3fc23f;
	color: #2c2c2c;
	flex-grow: 1;
}

.play:hover:enabled,
.play-clicked {
    background-color: #3fc23f;
}


/************* keys **************/

#wrapper {
	margin-top: 6vh;
	padding-top: 23vh;
	position: relative;
	margin-left: 0.4vw;
	margin-right: 0.4vw;
}

#naturals {
	display: flex;
	height: 49vh;
	justify-content: center;
}

#sharps {
	display: flex;
	height: 49vh;
	justify-content: center;
	pointer-events: none;
	position: absolute;
	top: 0;
	width: 100%;
}

#sharps > div {
	pointer-events: auto;
}

.key {
	background-image: url("./images/texture.jpg");
	background-repeat: round;
	border: 2px solid transparent;
	border-radius: 6px;
	box-shadow: 2px 3px 8px 2px rgba(0, 0, 0, .4);
	cursor: pointer;
	display: flex;
	filter: brightness(.5) saturate(4);
	flex-direction:	column;
	justify-content: flex-end;
	margin-left: 4px;
	margin-right: 4px;
	outline: none;
	width: 90px;
}

.key > p {
	background-clip: text;
	background-color: #6e6e6e;
	color: transparent;
	font: 2rem 'Arvo', serif;
	margin-bottom: 20%;
	margin-top: 0;
	text-shadow: 0 1px 3px rgba(12, 12, 12, .5);
	background-clip: text;
  	-webkit-background-clip: text;
    /* -moz-background-clip: text; */
}

.key > p:first-child {
	font-size: 1.1rem;
	margin-bottom: 15%;
	text-shadow: 0 1px 2px rgba(12, 12, 12, .5);
}

.spacer {
	height: 0;
	margin-left: 4px;
	margin-right: 4px;
	width: 90px;
}

.end-spacer {
	height: 0;
	margin-left: 4px;
	margin-right: 4px;
	width: 41px;
}

.pressed {
	box-shadow: 0 3px 4px 0 #DBEDF3;
	transform: scale(1.1);
	transition: all .1s ease-in-out;
	border: 2px solid #ffc600;
	box-shadow: 0 0 1rem #ffc600;
}

.hidden {
	display: none;
}


/* Natural keys sizes */
#KeyQ {
	height: 100%;
}

#KeyW {
	height: 95%;
}

#KeyE {
	height: 90%;
}

#KeyR {
	height: 85%;
}

#KeyT {
	height: 80%;
}

#KeyY {
	height: 75%;
}

#KeyU {
	height: 70%;
}

#KeyI {
	height: 65%;
}

#KeyO {
	height: 60%;
}

#KeyP {
	height: 55%;
}

/* Sharp keys sizes */
#Digit2 {
	height: 97.5%;
}

#Digit3 {
	height: 92.5%;
}

#Digit5 {
	height: 82.5%;
}

#Digit6 {
	height: 77.5%;
}

#Digit8 {
	height: 67.5%;
}

#Digit9 {
	height: 62.5%;
}

#Digit0 {
	height: 57.5%;
}


/********* bottom links and overlay message *********/

.name {
	font: .9rem 'Courier New', Courier, monospace;
	text-decoration: none;
	opacity: .55;
	position: absolute;
	bottom: 7px;
	left: 10px;
}

.social-icon {
    width: 30px;
    opacity: .35;
	position: absolute;
	bottom: 10px;
	right: 10px;
}

.name:hover,
.social-icon:hover {
	opacity: .85;
}

#overlay {
	align-items: flex-start;
	background-color: cadetblue;
	display: flex;
	height:	100vh;
	justify-content: center;
	left: 0;
	position: absolute;
	top: 0;
	width: 100vw;
	z-index: 2;
}

#overlay > p {
	background-color: rgb(255, 155, 170);
	border-radius: 15px;
	font: 1rem 'Arvo';
	line-height: 1.4;
	margin: 10%;
	padding: 5% ;
}


/* Media Queries */

@media screen and (max-width: 1023px) {

	h1 {
		display: none;
	}

	header > div {
		position: fixed;
		bottom: 1vh;
		right: 1vh;
		z-index: 1;
	}

	button {
		font-size: min(1rem, 3.5vh);
		padding: 6px 10px;
	}

	.name {
		font-size: .7rem;
		bottom: 8px;
		left: calc(50% + 5px);
	}

	.social-icon {
		right: 50%;
		width: 16px;
		bottom: 8px;
	}

	#wrapper {
		margin-top: -20px;
		padding-top: 30vh;
		position: relative;
	}
	
	#naturals {
		height: 60vh;
	}
	
	#sharps {
		height: 60vh;
	}

}

@media screen and (max-width: 1365px) {

	.key > p:last-child {
		display: none;
	}

	.key > p:first-child {
		font-size: 1rem;
	}

}

@media screen and (orientation: landscape) and (min-width: 1024px) {
	#overlay {
		display: none;
	}
}

/* PURPOSE OF THE FOLLOWING MEDIA QUERY:

When launching from the Home Screen, the webmanifest sets the orientation to landscape and the display mode to fullscreen, enabling a proper view of the Xylophone.
This means that the overlay must not appear even though the width will usually be smaller than 1024px.

Could have also used a combination of JS media queries (matchMedia) and user agent detection with navigator.userAgent, but the latter is not recomended and deprecated.

The effects of this media query cannot be observed from the desktop browser unless literally using a phone-sized monitor with the browser in fullscreen! must open PWA from Home Screen in a phone!
*/
@media screen and (display-mode: fullscreen) and (orientation: landscape) and (max-width: 1023px) {
	#overlay {
		display: none;
	}
}
